<form *ngIf="evaluationForm" [formGroup]="evaluationForm" (ngSubmit)="onSubmit()" class="evaluation-form">
  <div class="form-group">
    <label for="evaluationName" class="form-label">Evaluation Name:</label>
    <input type="text" id="evaluationName" formControlName="nom" class="form-control" [ngClass]="{ 'is-invalid': evaluationForm.get('nom')?.invalid && (evaluationForm.get('nom')?.dirty || evaluationForm.get('nom')?.touched) }">
    <div *ngIf="evaluationForm.get('nom')?.invalid && (evaluationForm.get('nom')?.dirty || evaluationForm.get('nom')?.touched)" class="invalid-feedback">
      Evaluation Name is required.
    </div>
  </div>

  <div formArrayName="questions" class="questions-container">
    <div *ngFor="let question of questions.controls; let i=index" [formGroupName]="i" class="question-card">
      <div class="question-header">
        <label for="questionText" class="form-label">Question {{i + 1}}:</label>
        <button type="button" (click)="removeQuestion(i)" class="btn btn-danger btn-sm">Remove</button>
      </div>
      <input type="text" id="questionText" formControlName="text" class="form-control" [ngClass]="{ 'is-invalid': question.get('text')?.invalid && (question.get('text')?.dirty || question.get('text')?.touched) }">
      <div *ngIf="question.get('text')?.invalid && (question.get('text')?.dirty || question.get('text')?.touched)" class="invalid-feedback">
        Question Text is required.
      </div>

      <div formArrayName="answers" class="answers-container">
        <div *ngFor="let answer of getAnswersControls(i); let j=index" [formGroupName]="j" class="answer-card">
          <label for="answerText" class="form-label">Answer {{ j+1 }}:</label>
          <div class="input-group">
            <input type="text" id="answerText" formControlName="text" class="form-control" [ngClass]="{ 'is-invalid': answer.get('text')?.invalid && (answer.get('text')?.dirty || answer.get('text')?.touched) }">
            <div class="input-group-append">
              <div class="input-group-text">
                <input type="checkbox" formControlName="correct" class="form-check-input">
                <label class="form-check-label ml-1">Correct</label>
              </div>
            </div>
          </div>
          <div *ngIf="answer.get('text')?.invalid && (answer.get('text')?.dirty || answer.get('text')?.touched)" class="invalid-feedback">
            Answer Text is required.
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="form-actions">
    <button type="button" (click)="addQuestion()" class="btn btn-primary">Add Question</button>
    <button type="submit" class="btn btn-success" [disabled]="!evaluationForm.valid || questions.length === 0">Submit</button>
  </div>
</form>
