<h2>List of Classes</h2>
<div class="table-container">
  <button class="add-class-btn" routerLink="/home/classes/claasesform">Add Class</button>
  <table>
    <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Level</th>
      <th>nbrEleves</th>
      <th>Evaluations</th>
      <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let classe of classes">
      <td>{{ classe.id }}</td>
      <td>{{ classe.nom }}</td>
      <td>{{ classe.niveau }}</td>
      <td>{{ classe.nbrEleves }}</td>
      <td>
        <ul>
          <li *ngFor="let evaluation of classe.evaluations">{{ evaluation.nom }}</li>
        </ul>
      </td>
      <td>
        <button (click)="editClasse(classe)" *ngIf="roleA">Edit</button>
        <button (click)="deleteClasse(classe.id)" *ngIf="roleA">Delete</button>
        <button (click)="assignEvaluation(classe.id)" *ngIf="role">Assign Evaluation</button>
      </td>
    </tr>
    </tbody>
  </table>
</div>
