<h2>List of Parents</h2>

<table class="table table-striped">
  <thead>
    <tr>
      <th>User ID</th>
      <th>User Name</th>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Email Address</th>
      <th>Phone Number</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let parent of parents">
      <td>{{ parent.userId }}</td>
      <td>{{ parent.userName }}</td>
      <td>{{ parent.firstName }}</td>
      <td>{{ parent.lastName }}</td>
      <td>{{ parent.emailAddress }}</td>
      <td>{{ parent.phoneNumber }}</td>
      <td>
        <ul *ngIf="parent.enfants && parent.enfants.length > 0; else noElevesAssigned">
          <li *ngFor="let eleve of parent.enfants">{{ eleve.userName }}</li>
        </ul>
        <ng-template #noElevesAssigned>
          <span>No eleves assigned</span>
        </ng-template>
      </td>
      <td>
        <button class="btn btn-danger" (click)="deleteParent(parent.userId!)">Delete</button>
        <button class="btn btn-success" (click)="navigateToAssignClasses(parent.userId)">Assign Eleve</button>
        <input type="file" (change)="onFileSelected($event, parent)">
        <button (click)="uploadPhoto(parent)">Upload Photo</button>

      </td>
    </tr>
  </tbody>
</table>


