<h2>List of Parents</h2>

<table class="table table-striped table-bordered table-hover">
  <thead>
    <tr>
      <th>User ID</th>
      <th>User Name</th>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Email Address</th>
      <th>Phone Number</th>
      <th>Assigned Eleves</th>
      <th>Actions</th>
      <th>uploaded Image</th>

    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let parent of parents">
      <td>{{ parent.userId }}</td>
      <td>{{ parent.userName }}</td>
      <td>{{ parent.firstName }}</td>
      <td>{{ parent.lastName }}</td>
      <td>{{ parent.emailAddress }}</td>
      <td>{{ parent.phoneNumber }}</td>


      <td>
        <ul *ngIf="parent.enfants && parent.enfants.length > 0; else noElevesAssigned">
          <li *ngFor="let eleve of parent.enfants">{{ eleve.userName }}</li>  
        </ul>
        <ng-template #noElevesAssigned>
          <span>No eleves assigned</span>
        </ng-template>
      </td>
      <td>
        <button class="btn btn-danger" (click)="deleteParent(parent.userId!)">Delete</button>
        <button class="btn btn-success" (click)="navigateToAssignClasses(parent.userId)">Assign Eleve</button>
        <a [routerLink]="['/home/parent/photo-upload', parent.userId]" class="btn btn-primary">Upload Photo</a>
      </td>

      <td>
        <div class="image-container">
          <img *ngIf="parent.photo; else noImage" [src]="'data:image/jpeg;base64,' + parent.photo" alt="Article Image" class="article-image">
          <ng-template #noImage>
            <span>No photo available</span>
          </ng-template>
        </div>
      </td>
    </tr>
  </tbody>
</table>
